

/* Style pour le conteneur principal */
main.glassmorphism {
    width: 90vw;
    max-width: 1200px;
    height: auto;
    border-radius: 8px;
    padding: 1.875rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centre horizontalement */
}

/* Titre principal */
.title {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #00bcd4; /* Couleur de titre - Bleu cyan clair */
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6); /* Ombre pour le texte */
}

/* Formulaire et bouton */
.form-control, .btn {
    margin-bottom: 15px;
}

#end a, .btn-primary {
    background-color: #ff0000; /* Couleur de fond - Rouge */
    font-size: 1.125rem;
    border: none;
    padding: 10px 15px; /* Plus de padding pour un meilleur clic */
    border-radius: 5px; /* Bordures arrondies */
    transition: background-color 0.3s; /* Transition douce */
    color: #fff; /* Texte en blanc */
}

#end a:hover, .btn-primary:hover {
    background-color: #cc0000; /* Changement de couleur au survol */
    cursor: pointer; /* Curseur pointeur */
}

form#add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#add input[type="submit"] {
    border-radius: 5px; /* Bordures arrondies */
    border: none;
    transition: background-color 0.3s; /* Transition douce */
}

/* Parent grid container */
.parent {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr 0.5fr 1fr;
    grid-template-rows: 0.1fr repeat(3, 0.4fr) 0.1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* Chart container */
.div1 {
    grid-area: 2 / 2 / 5 / 5;
    padding: 20px; /* Padding pour le contenu */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 0 10px rgba(255,255,255,0.1); /* Ombre subtile */
    height: 75vh;
    max-height: 75vh;
}

/* Other div containers */
.div2 {
    grid-area: 3 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div3 {
    grid-area: 3 / 5 / 2 / 6;
    height: 35vh;
}

.div6 {
    grid-area: 4 / 5 / 3 / 6;
    justify-self: center;
    height: 36vh;
    overflow-y: scroll;
    width: 100%;
}

.div4 img {
    width: 125px;
}

.div2, .div3, .div6 {
    border-radius: 10px; /* Bordures arrondies */
    padding: 20px; /* Padding pour le contenu */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Ombre subtile */
    background: linear-gradient(-45deg, #000000, #434343, #000000); /* Fond en dégradé */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
    color: #fff; /* Texte en blanc */
    animation: Gradient 15s ease infinite; /* Animation de dégradé */
}

.div4 {
    display: flex; /* Pour centrer le contenu de la div4 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div2 p, .div3 p, .div6 p {
    font-size: 1.2rem; /* Police plus grande pour une meilleure lisibilité */
    padding: 5px 10px; /* Padding pour un meilleur look */
    border-radius: 5px; /* Bordures arrondies */
    background-color: #333; /* Fond pour chaque information */
    width: 100%; /* Largeur maximale */
    text-align: center; /* Centrer le texte */
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.modal-content {
    background: linear-gradient(-45deg, #000000, #434343, #000000); /* Fond en dégradé */
    color: #fff; /* Texte en blanc */
    padding: 1rem; /* Espacement intérieur */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Ombre subtile */
    max-width: 80%;
    text-align: center;
    animation: Gradient 15s ease infinite; /* Animation de dégradé */
}

.modal-header, .modal-body, .modal-footer {
    border-bottom: 1px solid #333; /* Ligne de séparation */
}

.modal-title {
    color: #fff; /* Texte en blanc */
    margin-bottom: 0; /* Réduit l'espace sous le titre */
    font-weight: bold; /* Gras pour le titre */
}

.btn-close {
    color: #fff;
    cursor: pointer;
}

.btn-secondary {
    background-color: #434343; /* Couleur de fond correspondant au dégradé */
    color: #fff;
    border: none;
    padding: 10px 15px; /* Plus de padding pour un meilleur clic */
    border-radius: 5px; /* Bordures arrondies */
    transition: background-color 0.3s; /* Transition douce */
}

.btn-secondary:hover {
    background-color: #333333; /* Changement de couleur au survol */
}

.banned {
    color: rgb(126, 126, 126);
}

/* Media queries pour les petits écrans */
@media (max-width: 576px) {

    .title {
        font-size: 1.3rem !important;
    }
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .div1, .div2, .div3, .div4, .div5, .div6 {
        width: 90vw;
        max-width: 100%;
    }

    .div1 {
        height: auto;
    }

    .div3, .div6 {
        height: auto;
    }

    .modal-content {
        max-width: 100%;
    }

    .toast {
        left: auto;
        right: 1%;
        width: 100%;
    }
}
