/* App.css */
.ChatContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .ChatManager {
    flex: 1;
    margin: 10px;
  }
  
  .Error {
    background-color: red;
  }

  .SpecialChatMessage {
    color: red;
}

  .Disconnected,
  .Connecting,
  .WaitingRoomSelector,
  .RoomWaiter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ChatSession {
    display: flex;
    flex-direction: column;
  }
  
  .ChatMessagesDisplayer {
    flex: 1;
  }
  
  .ChatMessageDisplayer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  
  .MessageSender {
    display: flex;
    flex-direction: row;
  }
  