/* Style pour le corps */
body {
  background: linear-gradient(-45deg, #000000, #434343, #000000);
  color: #fff; /* Texte en blanc */
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px; /* Ajout de padding autour de l'application */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ChatContainer {
  display: flex;
  justify-content: space-between;
}

.ChatManager {
  grid-column: 1 / 2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  background: linear-gradient(-45deg, #000000, #434343, #000000);
  color: #fff;
  animation: Gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
}

.Error {
  background-color: red;
}

.Disconnected,
.Connecting,
.WaitingRoomSelector,
.RoomWaiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ChatSession {
  display: flex;
  flex-direction: column;
}

.ChatMessagesDisplayer {
  flex: 1;
  overflow-y: auto; /* Ajout de défilement vertical */
}

.ChatMessageDisplayer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond par défaut */
}

.ChatMessageDisplayer.UserMessage {
  background-color: rgba(255, 255, 0, 0.2); /* Fond jaune clair pour les messages des utilisateurs */
  border-left: 4px solid #ffd700; /* Bordure dorée pour les messages des utilisateurs */
}

.ChatMessageDisplayer.TextMessage {
  background-color: rgba(0, 0, 0, 0.5); /* Fond foncé pour les messages réguliers */
  border-left: 4px solid #00bcd4; /* Bordure cyan pour les messages réguliers */
}

.MessageSender {
  display: flex;
  flex-direction: row;
}

.WordInsertionMessage {
  background-color: rgba(255, 165, 0, 0.2); /* Fond orange clair pour les messages d'insertion */
  border-left: 4px solid #ffa500; /* Bordure orange pour les messages d'insertion */
}

.ChatGraphContainer {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Chat takes 1 part, graph takes 2 parts */
  gap: 20px; /* Space between columns */
  height: 100vh; /* Full height */
}

.ChatManager {
  grid-column: 1 / 2; /* Position in the first column */
  overflow-y: auto; /* Allow scrolling if the content is too tall */
  background: linear-gradient(-45deg, #000000, #434343, #000000);
  padding: 20px; /* Padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  color: #fff; /* Text color */
}

.WordGraphContainer {
  grid-column: 2 / 3; /* Position in the second column */
  overflow-y: auto; /* Allow scrolling if the content is too tall */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #000000, #434343, #000000);
  padding: 20px; /* Padding for better spacing */
  border-radius: 10px; /* Rounded corners */
}

.HeaderImageContainer {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-bottom: 10px; /* Espace sous l'image */
}

.HeaderImage {
  width: 70px; /* Taille de l'image */
}

/* Style pour les boutons */
.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-green {
  background-color: #28a745; /* Couleur verte */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #218838;
}

.btn-red {
  background-color: #dc3545; /* Couleur rouge */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-red:hover {
  background-color: #c82333;
}

.transparent-input {
  width : 97%;
  background-color: transparent; /* Fond transparent */
  color: white; /* Texte en blanc */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Bordure semi-transparente */
  border-radius: 5px; /* Bordures arrondies */
  padding: 10px; /* Padding pour un meilleur espacement */
  flex: 1; /* Pour occuper tout l'espace disponible */
}

.transparent-input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Placeholder en blanc semi-transparent */
}

.hidden-input {
  display: none; /* Cache l'input */
}

/*score*/

.CurrentScore {
  margin-bottom: 20px; /* Space below the score container */
  color: #fff; /* Text color */
  padding: 20px; /* Padding for better spacing */
  text-align: center; /* Center the text */
}

.ScoreValue {
  font-size: 2rem; /* Larger font for the score */
  margin-top: 10px; /* Spacing above the score */
}

.CurrentTurn {
  margin-top: 10px;
  color: #ffa500; /* Texte orange pour le tour actuel */
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}